<!DOCTYPE html>
<html>
    <head>
        <title>My Friend info</title>
    </head>
    <body>
        <h1>Relation : Friend</h1>
        <h2>Name : {{name}}</h2>
        <h2>Age : {{age}}</h2>

        <!--Write the correct link for image source in place of #. The images are present in the 
            static folder. If you dont like those images you can use your own as well-->
        <img src = "https://th.bing.com/th/id/OIP.KVBnbakl-aXEg5LTXrj6kgHaLI?w=202&h=304&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt = "Reference your friends image present in the static folder" width = "200"/>
    </body>
</html>